@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --font: "Montserrat";
  --hiddenTF: normal;
}

/* Light Theme */
body {
  --background-colour: gainsboro;
  --background-accent: lightgray;
  --highlight-colour: lightslategray;
  --contrast-colour: black;
  --font-colour: black;
  --active-colour: olive;
  --hover-colour: DarkSlateBlue;
}

/* Dark Theme */
body.dark-theme {
  --background-colour: #121212;
  --background-accent: #1F1B24;
  --highlight-colour: rgb(47, 55, 79);
  --contrast-colour: white;
  --font-colour: white;
  --active-colour: olive;
  --hover-colour: DarkSlateBlue;
}


/* Hidden. Added to elements via JS */
.hidden {
  display: none !important;
}

html {
  font-family: var(--font);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  transition: background-color 300ms;
  background: var(--background-colour);
  color: var(--font-colour);
  margin: 0;
}

div {
  padding: 0.5em;
}

.emoji {
  height: 1em;
  width: 1em;
  display: inline-block;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
}

h1 {
  text-align: center;
  padding-top: 1.5em;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: xx-large;
}

h4 {
  text-align: center;
  font-size: xx-large;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.5em;
}

#stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statistic {
  text-align: center;
  font-size: xx-large;
}

/* Bottom Button Bar */

#buttonBarSpan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

.buttonBar:hover {
  background-color: var(--hover-colour);
}

.buttonBar:active {
  background-color: var(--active-colour);
}

.buttonBar {
  width: 2em;
  height: 2em;
  background-color: var(--highlight-colour);
  border: 0;
  font-size: large;
  padding-top: 0.3em;
}

footer {
  position: fixed;
  transition: background-color 300ms;
  bottom: 0;
  left: 10%;
  right: 10%;
  margin-top: 1em;
}

/* Film cards */

.inline {
  padding: 0;
}

.fav {
  display: contents;
  font-size: xx-large;
  outline: 1px solid var(--contrast-colour);
}

#splash {
  padding: 0;
}

#watchedFilms,
#planningFilms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  min-width: 80vw;
}

.cards {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  width: 100%;
  justify-content: center;
  gap: 1rem;
  transition: background-color 300ms;
  padding: 0;
  padding-bottom: 3em;
}

.card {
  background-color: var(--background-accent);
  border: 1px solid var(--contrast-colour);
  padding: 0;
  display: flex;
  flex-direction: column;
  transition: background-color 300ms;
  min-height: 18em;
}

.card:hover {
  background-color: var(--highlight-colour);
}

.card-head {
  margin: 0em;
  display: flex;
  border-bottom: 1px solid var(--contrast-colour);
  font-weight: bold;
  font-size: large;
}

.title-card.inline {
  width: 100%;
  height: 100%;
  text-align: center;
}

.fav {
  float: left;
}

.card-body {
  margin: 0em;
  flex-grow: 2;
}

.card-foot {
  display: flex;
  border-top: 1px solid var(--contrast-colour);
  justify-content: center;
}

.score-text {
  color: goldenrod;
  padding: 0;
  display: inline-block;
}

/* Scroll Bar (more would be required if firefox was required)*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-accent);
}

::-webkit-scrollbar-thumb {
  background: var(--highlight-colour);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover-colour);
}

/* should show when the heart in the add menu has been selected via tab, and can be toggled via space */
input[type="checkbox"]:focus+label {
  background-color: rgba(121, 185, 102, 0.418);
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid green;
}

#submit {
  font-size: xx-large;
}

/* Table properties */
table,
th,
td {
  padding: 1em;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid;
}

th {
  text-align: left;
}

tbody>tr:nth-child(odd) {
  transition: background-color 300ms;
  background: var(--background-accent);
}

tbody tr:hover {
  background: var(--highlight-colour);
}

table {
  display: none;
  max-width: 63em;
  margin: auto;
  padding-bottom: 3em;
}

#watched tr>*:nth-child(1) {
  width: 1em;
  font-size: x-large;
  padding: 0;
}


/* can't change width past 5em / 73px here?*/
#watched tr>*:nth-child(4) {
  column-width: 10em;
  text-align: center;
}

#watched thead>*:nth-child(2) {
  column-width: 30em;
}

/* Nav bar properties */
nav {
  background-color: var(--background-accent);
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 0;
  transition: background-color 300ms;
}

nav a {
  width: 8em;
  height: 1.6em;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--highlight-colour);
  font-family: sans-serif;
  text-align: center;
  user-select: none;
  transition: background-color 300ms;
}

nav a>.emoji {
  padding-top: 0.25em;
}

nav a>span {
  font-size: 0;
}

nav a:hover {
  background-color: var(--hover-colour);
}

nav a:active {
  background: var(--active-colour);
}

#stats {
  padding-bottom: 2em;
}

/* Add Form properties */

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

#form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  text-align: center;
  justify-content: space-evenly;
  gap: 0.2em;
  padding: 0;
  margin-bottom: 0.2em;
}

#saveButtonContainer {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  grid-column: 1 / -1;
}

.watched-section,
.unwatched-section {
  border: 1px solid var(--contrast-colour);
  background-color: var(--background-accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 9em;
}

.watched-section {
  display: var(--hiddenTF);
}

.watched-section>label {
  font-size: xx-large;
  text-align: center;
  user-select: none;
  color: Goldenrod;
}

input[type="radio"] {
  position: absolute;
  left: -1000px;
  opacity: 0;
}

.radios input[type="radio"]:checked+label {
  border: 0.15em solid green;
  user-select: none;
  font-weight: bold;
}

input[type="radio"]:focus+label {
  background-color: rgba(121, 185, 102, 0.418);
}

input[type="checkbox"] {
  position: absolute;
  left: -1000px;
  opacity: 0;
}

#favText {
  font-size: 50px;
}

#submit {
  width: auto;
  height: auto;
}

/* Add form popup */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--background-colour);
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 1em;
  border: 1px solid var(--contrast-colour);
  overflow: auto;
  max-width: 50vw;
}

/* The Close Button */
.close {
  position: absolute;
  font-size: 2em;
}

.close:hover {
  cursor: pointer;
}

/* Splash Screen */
.splashModal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0;
}

.splashContent {
  background-color: var(--background-colour);
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 1em;
  border: 1px solid var(--contrast-colour);
}

/* The Close Button */
.closeSplash {
  position: absolute;
  font-size: 2em;
}

.closeSplash:hover {
  cursor: pointer;
}

/* Sort Buttons */
#sortFilms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 50em;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
}

.sortButton {
  background-color: var(--background-accent);
  color: var(--font-colour);
  width: 8em;
  height: 3em;
  display: inline-block;
  font-size: large;
}

.sortButton:hover {
  background-color: var(--highlight-colour);
}

.sortButton:active {
  background-color: var(--active-colour);
}


/* Adjusting for a screen over 550px width */

@media screen and (min-width: 850px) {

  nav a {
    font-size: large;
    height: 3em;
  }

  nav a>span {
    font-size: large;
  }

  .modal-content {
    background-color: var(--background-colour);
    overflow: auto;
  }

  .splashContent {
    background-color: var(--background-colour);
    width: 50%;
  }

  .cards {
    display: none;
  }

  table {
    display: block;
  }

  #watchedFilms,
  #planningFilms {
    max-width: 70vw;

  }
}