@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
  --font: "Montserrat";
  --hiddenTF: normal;
  /* hidden true false */

}

/* Light Theme */
body {
  --background-colour: gainsboro;
  --background-accent: lightgray;
  --highlight-colour: lightslategray;
  --contrast-colour: black;
  --active-colour: olive;
  --hover-colour: DarkSlateBlue;
  transition: background-color 300ms;
}

/* Dark Theme */
body.dark-theme{
  --background-colour: #121212;
  --background-accent: #1F1B24;
  --highlight-colour: darkslategray;
  --contrast-colour: white;
  --font-colour: white;
  --active-colour: olive;
  --hover-colour: DarkSlateBlue;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font);
}

body {
  background: var(--background-colour);
  color: var(--font-colour);
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--background-colour);
  width: 100%;
  transition: background-color 300ms;
}

div {
  padding: 1em;
}

h1 {
  text-align: center;
  /* To account for the sticky header */
  margin-top: 2em;
}

h2 {
  border-top: 1px solid var(--contrast-colour);
}

h3 {
  text-align: center;
  font-size: xx-large;
}

/* Bottom Button Bar */

#buttonBarSpan{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonBar:hover{
  background-color: var(--hover-colour);
}

.buttonBar{
  width: 2em;
  height: 2em;
  background-color: var(--highlight-colour);
  border: 0;
  font-size: large;
}

/* Form properties */

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

watched-section>label {
  font-size: xx-large;
  text-align: center;
  user-select: none;
  color: Goldenrod;
}

watched-section {
  display: var(--hiddenTF);
}

.radios input[type="radio"]:checked+label {
  border: 0.15em solid green;
  user-select: none;
  font-weight: bold;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

input[type="checkbox"].toggle:focus+label {
  outline: 1px solid black;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid green;
}

/* Table properties */
table,
th,
td {
  padding-left: 1em;
  padding-right: 1em;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid;
}

th {
  text-align: left;
  cursor: pointer;
}

tbody tr:nth-child(odd) {
  transition: background-color 300ms;
  background: var(--background-accent);
}

tbody tr:hover {
  background: var(--highlight-colour);
}

table {
  overflow-wrap: break-word;
}

#watched tr>*:nth-child(1) {
  width: 0.5em;
  padding-left: 0.2em;

}

#watched tr>*:nth-child(4) {
  display: none;
}

#watched tr>*:nth-child(5) {
  display: none;
}

#watched tr>*:nth-child(6) {
  width: 2em;
}

#planning-remove {
  width: 2em;
}

/* Nav bar properties */
nav {
  background-color: var(--background-accent);
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 0;
  transition: background-color 300ms;
}

nav a {
  text-decoration: none;
  width: 8em;
  height: 1.6em;
  color: white;
  font-size: 2em;
  font-weight: bold;
  background-color: var(--highlight-colour);
  font-family: sans-serif;
  text-align: center;
  user-select: none;
  transition: background-color 300ms;
}

nav a>span {
  font-size: 0;
}

nav a:hover {
  background-color: var(--hover-colour);
}

nav a:active{
  background:var(--active-colour);
}

#stats{
  display: none;
}

#planningFilms{
  display: none;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: var(--background-colour);
  margin: 5% auto; /* 15% from the top and centered */
  padding: 1em;
  border: 1px solid var(--contrast-colour);
  height: 85%;
  overflow: auto;
}

/* The Close Button */
.close {
  position: absolute;
  font-size: 2em;
}

.close:hover {
  cursor: pointer;
}


/* Splash Screen */
.splashModal {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.4);
  padding: 0;
}

.splashContent {
  background-color: var(--background-colour);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 1em;
  border: 1px solid var(--contrast-colour);
  
}

/* The Close Button */
.closeSplash {
  position: absolute;
  font-size: 2em;
}

.closeSplash:hover {
  cursor: pointer;
}


/* Adjusting for a screen over 500px width */

@media screen and (min-width: 630px) {

  nav a {
    font-size: large;
    height: 3em;
  }

  nav a>span {
    font-size: large;
  }

  #watched tr>*:nth-child(3) {
    display: table-cell;
  }

  #watched tr>*:nth-child(4) {
    display: table-cell;
  }

  #watched tr>*:nth-child(5) {
    display: table-cell;
    /* padding to keep the stars on one line longer*/
    padding-right: 0.5em;
  }

  .modal-content {
    background-color: var(--background-colour);
    width: 75%;
    height:75%;
    overflow: auto;
  }

  .splashContent {
    background-color: var(--background-colour);
    width: 50%;
  }

}